//
// Font stacks
$main-ff: 'Open Sans', 'sans-serif';
$secondary-ff: 'Lato-Hairline';

//
// Colors
$black: #000000;
$gray: #b2b2b2;
$dark-gray: #666666;
$white: #fff;
$light-gray: #edf1f2;
$blue: #2980b9;
$dark-blue: #29808D;